/*Css for whole page*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Junction", cursive;
    background: #fff url('../img/geometry2.png');
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

/*
 * Style for deck and the individual cards
 */

.deck {
     width: 95%;
     height: 100%;
     background: linear-gradient(90deg, #02ccba 0%, #aa7ecd 100%);
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3em;
}

.deck .card {
    height: 20%;
    width: 20%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 1%;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
* Styles for the Score Panel
*/

.score-panel {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.score-panel .star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .star-rating li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    display: inline-block;
    cursor: pointer;
}

/*
 * End game message
 */

.win-message {
    width: 345px;
    text-align: center;
    display: none;
}

.win-message .play-again{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/*
 * Responsive css
 */

@media screen and (min-width: 850px){
    .deck {
        width: 850px;
        min-height: 680px;
    }

    .deck .card {
        height: 125px;
        width: 125px;
        margin: 0;
        margin-left: 35px;
        margin-right: 35px;
    }

    .container {
        height: auto;
    }
}
