main {
    display: block;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

/*CSS for header section*/

.header {
    width: 100%;
    min-height: 56px;
    padding-bottom: 5px;
}

.header_inner {
    width: 100%;
    border-bottom: 5px solid #7d97ad;
}

.header_info {
    display: inline-block;
    text-align: right;
    height: 100%;
    vertical-align: top;
    float: right;
}

.header_title, .header_description {
    margin: auto;
    color: #2d3c49;
}

.header_logo {
    height: 100%;
}

/*Css for personal information section*/
.profile_picture {
    width: 40%;
    float: left;
    margin: auto;
    height: auto;
}

.profile_description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.personal_info {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

/*Css for project section*/

.personal_projects {
    width: 100%;
}

.projects_header {
    color: #7d97ad;
    margin-left: 5px;
}

.project_container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 50%;
    height: 100%;
    margin-bottom: 2em;
}

.project_picture {
    width: 30%;
    float: left;
    margin: auto;
    height: auto;
    margin-left: 5px;
}

.project_description {
    width: 65%;
    float: right;
}

/*Responsive css*/
@media screen and (min-width: 850px) {
    main,.header_inner {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 650px) {
    .project {
        width: 100%;
    }

    .project_picture {
        width: 20%;
    }

    .project_description {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .profile_picture {
        width: 60%;
        height: auto;
    }

    .profile_description {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    .header_logo {
        height: 48px;
    }

    .header_title {
        font-size: 1.2em;
    }

    .header_description {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 300px) {

    .header_info {
        float: none;
    }

}
