html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}

/*Navigation bar*/
.nav {
  background-color: #1a1a1a;
  min-height: 80px;
  height: 10%;
}

.nav-button {
  min-width: 50px;
  min-height: 40px;
  margin-top: 10px;
  margin-left: 30%;
  color: #09f;
  background-color: #1a1a1a;
  border: none;
  font-size: 30px;
}

.move-left {
  margin-left: 10px;
}

/*List View*/
.list-view {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 30%;
  z-index: 9999;
  background-color: black;
  color: white;
  text-align: center;
}

.hidden {
  left: -30%;
}

.filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filter input {
  width: 90%;
  font-size: 20px;
  display: block;
  margin: auto;
}

.filter button {
  width: 50%;
  margin-left: 0;
  font-size: 20px;
  margin: auto;
  margin-top: 5px;
}

.list {
  list-style-type: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
}

.list li {
  width: 90%;
  text-align: left;
  margin: auto;
  margin-top:10px;
  border-bottom: 1px solid #e6e6e6;
}

/*Map and map container*/
.map-container {
  position: absolute;
  left: 0;
  top: 10%;
  height: 90%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

/*Error window-notification*/
.error-window {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background-color: gray;
  z-index: 9999;
  max-width: 250px;
}

.error-window p {
  font-size: 15px;
  margin: 2px;
}

.close-button {
  float: right;
  right: 0;
  top: 0;
  display: block;
}

@media only screen and (max-width: 500px) {

  .list-view {
    width: 200px;
  }

  .nav-button {
    margin-left: 200px;
  }

  .move-left-small  {
    margin-left : 10px;
  }

}