.header {
    width:100%;
    min-height: 56px;
}

.header_inner{
    width: 100%;
    border-bottom: 5px solid #7d97ad;
}

.header_info {
    display: inline-block;
    text-align: right;
    height: 100%;
    vertical-align: top;
    float: right;
}

.header_title, .header_description{
    margin: auto;
}

.header_logo {
    height: 100%;
}

/*Responsive css*/
@media screen and (min-width: 850px) {
    .header_inner{
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}
